#selectContainer {
  background-color: #f0ece2;
  max-width: fit-content;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  min-height: 40vh;
}

.logoID {
  height: 20vh;
  object-fit: cover;
  width: 100%;
  filter: brightness(50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form-label {
  font-size: large !important;
  font-weight: 700;
}


.App-link {
  color: #61dafb;
}

#appTitle {
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
  font-size: 49px;
  letter-spacing: 4px;
  word-spacing: 6px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 2px 5px 11px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  z-index: 1; /* Ensure title appears above the logo */
}